{% extends "base.html" %}

{% block title_head %}
Autos
{% endblock title_head %}

{% block h1_header %}
Listado de autos
{% endblock h1_header %}

{% block main %}

<a href={% url "crear_auto_v2" %}>Crear Auto</a>

<form action={% url "autos" %} method="get">
    {{formulario}}

    <input type="submit" value="Buscar">

</form>

{% if autos %}
    <ul>    
        {% for auto in autos %}
        <li>{{auto}} | 
            <a href={% url "eliminar_auto" auto.id%}>Eliminar</a> | 
            <a href={% url "editar_auto" auto.id%}>Editar</a> | 
            <a href={% url "ver_auto" auto.id%}>Ver</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay autos creados.</p>
{% endif %}

{% endblock main %}